In [1]:
# Dependencies
import numpy as np
import datetime as dt
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_tobs = session.query(Measurement.tobs).filter(Measurement.date.contains('-06-')).all()
june_tobs[0:10]

[(78.0,),
 (76.0,),
 (78.0,),
 (76.0,),
 (77.0,),
 (78.0,),
 (77.0,),
 (78.0,),
 (78.0,),
 (79.0,)]

In [5]:
#  3. Convert the June temperatures to a list.
june_temps = [temp[0] for temp in june_tobs]
june_temps[0:10]

[78.0, 76.0, 78.0, 76.0, 77.0, 78.0, 77.0, 78.0, 78.0, 79.0]

In [6]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(june_temps, columns=['June Temperatures'])
june_df.head()

   June Temperatures
0               78.0
1               76.0
2               78.0
3               76.0
4               77.0

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

       June Temperatures
count        1700.000000
mean           74.944118
std             3.257417
min            64.000000
25%            73.000000
50%            75.000000
75%            77.000000
max            85.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_tobs = session.query(Measurement.tobs, Measurement.date).filter(Measurement.date.contains('-12-')).all()
dec_tobs[0:10]

[(76.0, '2010-12-01'),
 (74.0, '2010-12-03'),
 (74.0, '2010-12-04'),
 (64.0, '2010-12-06'),
 (64.0, '2010-12-07'),
 (67.0, '2010-12-08'),
 (77.0, '2010-12-09'),
 (66.0, '2010-12-10'),
 (69.0, '2010-12-11'),
 (68.0, '2010-12-12')]

In [9]:
# 7. Convert the December temperatures to a list.
dec_temps = [temp[0] for temp in dec_tobs]
dec_temps[0:10]

[76.0, 74.0, 74.0, 64.0, 64.0, 67.0, 77.0, 66.0, 69.0, 68.0]

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(dec_temps, columns=['December Temperatures'])
dec_df.head()

   December Temperatures
0                   76.0
1                   74.0
2                   74.0
3                   64.0
4                   64.0

In [11]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

       December Temperatures
count            1517.000000
mean               71.041529
std                 3.745920
min                56.000000
25%                69.000000
50%                71.000000
75%                74.000000
max                83.000000

Two Additional Queries To Show Grouped Temperature Ranges/

In [12]:
temp_range = [50,55,60,65,70,75,80,85,90,95,100]
june_df['Temp Range'] = pd.cut(june_df['June Temperatures'],temp_range)
dec_df['Temp Range'] = pd.cut(dec_df['December Temperatures'],temp_range)

In [13]:
june_range = june_df.groupby('Temp Range').count().reset_index()
june_range.rename(columns={'June Temperatures':'Count'})

  Temp Range  Count
0   (50, 55]      0
1   (55, 60]      0
2   (60, 65]      4
3   (65, 70]    167
4   (70, 75]    738
5   (75, 80]    747
6   (80, 85]     44
7   (85, 90]      0
8   (90, 95]      0
9  (95, 100]      0

In [14]:
dec_range = dec_df.groupby('Temp Range').count().reset_index()
dec_range.rename(columns={'December Temperatures':'Count'})

  Temp Range  Count
0   (50, 55]      0
1   (55, 60]      9
2   (60, 65]    116
3   (65, 70]    505
4   (70, 75]    724
5   (75, 80]    159
6   (80, 85]      4
7   (85, 90]      0
8   (90, 95]      0
9  (95, 100]      0